<!-- Sidebar -->
<div class="sidebar">
  <div class="logo">
    <i class="fa-solid fa-temperature-half"></i>
    <span>TempSys</span>
  </div>
  

  <ul class="nav-links">
    <li class="nav-item active">
      <a routerLink="dashboard" class="nav-link">
        <i class="fa-solid fa-gauge-high"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="usuarios" class="nav-link">
        <i class="fa-solid fa-users"></i>
        <span>Usuarios</span>
      </a>
    </li>
  </ul>
  <!-- User Profile -->
  <div class="user-profile">
    <img
      src="https://lh3.googleusercontent.com/aida-public/AB6AXuAE7GLQ_Ku1aEsGrRyn8xHJw6y2D19rFytAl5lKou3yXo5m7D6b3in3yjG27jwde9C48aJOkEKEun1s-AXyMbe3qfEcaxnWLkE-ipL44HhBSkCr85HMNmf_kQXIJu7tlPk8F3JlCCTJlPO_ZRngVdUpFu042qC4yB5F5mW_oTMfONC-_YfO4yMsr_SZoC3881Sb0GVAO44csKCxkDtIkcRREfy3X9I99jLiuGzdTKnb6paVsS34PxDfIiOSf-xevokso6v4slaGi9nM"
      alt="Usuario"
    />
    <span class="user-name">Administrador</span>
  </div>
</div>
